<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V8P0D7E75M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V8P0D7E75M',{ 'debug_mode':true });
</script>

<script>
function sendReadEvent(title, reading_time, author){
gtag('event', 'read_article', {
    "author": author,
    "artikelnamn": title,
    "reading_time": reading_time,
});
}

document.addEventListener("DOMContentLoaded", () => {
    
const readArticle1Button = document.getElementById("read-article-1");

if(readArticle1Button){
    //Skickar event vid klick på artikel 1
    readArticle1Button.addEventListener("click", () => {
        sendReadEvent("Article 1", 2, "Shahrzad P.")
        })
    
        //Skickar event vid klick på artikel 2
        document.getElementById("read-article-2").addEventListener("click", () => {
        sendReadEvent("Article 2", 3, "Karin S.")
            })
    
        //Skickar event vid klick på artikel 3
        document.getElementById("read-article-3").addEventListener("click", () => {
        sendReadEvent("Article 3", 5, "Gustav G.")
        });
}

});
</script>
